*{
    margin: 0;
    padding: 0;
}
.header{
    display: grid;
    grid-template-columns: [nothing] 125px [line1] auto [line2] auto [line3] auto [nothing2] 125px [end] ;
    
}
.gravity{
    margin-top: 59px;
    
    grid-column-start: 2;
}
.search{
    margin-top: 59px;
    justify-self: center;
    
    grid-column-start: 3;
}
.menu__icon{
    margin-top: 59px;
    justify-self: end;
    
    grid-column-start: 4;
    
}
.nav{
    display: grid;
    grid-template-columns: [nothing] 125px [line1] 539px [line2] auto  [nothing2] 125px [end] ;
    
}
.branding{
    background-color: rosybrown;
    grid-column-start: 2;
    margin-top: 125px;
    max-width: 550px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;

}
.twitter{
    display: inline-flex;
}
.social{
    background-color: red;
    margin-top: 125px;
    
}
.gridplaceholder{
    display: grid;
    grid-template-columns: [nothing] 125px [line1] auto [nothing2] 125px;
}
.placeholder{ 
    /* не получилось картинку сделать на всю ширину колонки */
    margin: 0px auto;
    width: 1110px;
    height: 580px;
    background-size: 100%;
    margin-top: 86px;
    grid-column-start: 2;
    
}
.gridaswe{
    display: grid;
    grid-template-columns: [nothing] 125px [line1] auto [nothing2] 125px; ;
}
.aswe{
    /* не могу понять почему в макете шрифт растянут по углам с марджином 125px, а у меня меньше в 2 раза  */
    grid-column-start: 2;
    max-width: 1000px;
    margin: auto;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    
   
}
.images{  
    /* такая же проблема, в макете везде указано что по бокам отступ в 125 пикселей, но что-то не сходится */
    display: grid;
    grid-template-columns: [nothing] 125px [line1] auto [line2] auto [line3] auto [nothing2] 125px;
}
.img1{
    margin-left: 30px;
    grid-column-start: 2;
}
.img2{
    
    grid-column-start: 3;
}
.img3{
    grid-column-start: 4;
    
}

